section.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


form.signup-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(247, 130, 218);
    padding: 40px;
    padding-bottom: 15px;
    background-color: rgb(255, 232, 255);
    border-radius: 20px;
}

div.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

label {
    width: 150px;
    text-align: left;
}

div.single-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

